.topLayout {
  width: 100%;
  height: 48px;
  background-color: black;

  display: flex;
  justify-content: space-between; // 양쪽 정렬
  align-items: center;
  padding: 0 20px; // 좌우 여백

  &__text {
    color: white;
    text-align: center;
    flex: 1; // 가운데 내용이 자연스럽게 중앙으로
  }

  &__button {
    margin-left: 10px;
  }

  select {
    position: relative;
    left: 20%;
  }
}
